name: golangci-lint
on:
  push:
    branches:
      - main
      - master
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci:
    strategy:
      matrix:
        go: ['1.24']
        os: [ubuntu-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Run go vet
        run: go vet ./...
      - name: Check go fmt
        run: |
          if [ -n "$(gofmt -d .)" ]; then
            echo "Code is not formatted. Run 'gofmt -w .'"
            gofmt -d .
            exit 1
          fi
